* {padding:0;margin:0}
html,body,#app {
    height:100%;
    font-family: pfzt;
}
a:link,a:visited,a:hover,a:active {
    color: #dbdbdb;
    text-decoration: none;
}
.weui-btn{
    font-family: pfzt;
}
.weui-input{
    font-family: pfzt;
}
.weui-cells::before {
    border-top : 0px !important;
}
.weui-cell::before {
    border-top : 0px !important;
}
.weui-cells::after {
    border-bottom : 0px !important;
}
.weui-cell::after {
    border-bottom : 0px !important;
}
.weui-input::-moz-placeholder {
    color: #dbdbdb;
}
.weui-input:-ms-input-placeholder {
color: #dbdbdb;
}
.weui-input::-webkit-input-placeholder {
color: #dbdbdb;
}